configuration {
    modi: "drun,run";
    show-match: "drun";
    lines: 6;
    font: "JetBrains Mono 9"; 
    show-icons: true;
    icon-theme: "Papirus"; 
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;    

    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  window";
    
    hover-select: true;
    sidebar-mode: true;
}

/** transparent colors 
10% — 1A
20% — 33
30% — 4D
40% — 66
50% — 80
60% — 99
70% — B3
80% — CC
90% — E6
**/

/** Cobalt2 Color Palette **/
* {
    background:     #012b4a; /* Deep Cobalt Blue */
    background-alt: #1f4662; /* Lighter Blue Accent */
    foreground:     #ffffff; /* Pure White Text */
    foreground-alt: #a3b8cc; /* Muted Blue-Gray Text */
    selected:       #ffc600; /* Vibrant Cobalt Yellow */
    accent:         #00f5d4; /* Cobalt Mint/Cyan Highlight */
}

window {
    height: 460px;
    border: 0; 
    border-radius: 12px; 
    background-color: @background;
}

mainbox {
    background-color: transparent;
    children: [ inputbar, listview ];
}

inputbar {
    children: [ mode-switcher, entry ];
    background-color: transparent;
    border-radius: 6px;
    padding: 2px;
}

prompt {
    enabled: false;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 6px;
    margin: 20px 20px 0px 10px;
    text-color: @foreground;
    background-color: transparent;
    placeholder: "Search...";
    placeholder-color: @foreground-alt;
}

listview {
    border: 0px;
    margin: 10px 10px 0px 20px;
    padding: 0px 20px 0px 0px;  
    scrollbar: true;            
    dynamic: true;              
    columns: 3;
    background-color: transparent;
}

element {
    padding: 8px 12px; 
    margin: 2px 0px 0px 4px;
    background-color: transparent;
    border-radius: 4px;
    text-color: inherit;
    orientation: horizontal; 
}

element-icon {
    size: 24px;
    margin: 0px 10px 0px 0px;  
    vertical-align: 0.5;     
} 

element-text {
    vertical-align: 0.5;       
    background-color: transparent;
    text-color: inherit;
}

element normal.normal {
    background-color: transparent;
    text-color: @foreground-alt;
}

element alternate.normal {
    background-color: transparent;
    text-color: @foreground-alt;
}

element selected.normal {
    background-color: @selected;
    text-color: #252525;
}

mode-switcher {
    spacing: 5px;
    margin: 20px 0px 0px 20px; 
    background-color: transparent;
}

button {
    padding: 6px 12px;
    background-color: @background-alt;
    text-color: @foreground-alt;
    border-radius: 4px;
    vertical-align: 0.5; 
    horizontal-align: 0.5;
}

button selected {
    background-color: @selected;
    text-color: #15232d;
}

scrollbar {
    width:        4px;          
    border:       0;
    handle-color: @selected;   
    handle-width: 8px;
    background-color: @background-alt; 
    margin:       10px 0px 30px 20px; 
}
