configuration {
    show-icons: false;
}

window {
    fullscreen: true;
    background-color: #012b4aCC;
    children: [ mainbox ];
}

mainbox {
    expand: true;
    children: [ box ];
    orientation: vertical;
    background-color: transparent;
}

box {
    expand: false;
    padding: 40px;    
    background-color: transparent;
    children: [ listview ];
    margin: 35% 20%; 
}

listview {
    columns: 3;           
    lines: 1;             
    fixed-columns: true; 
    spacing: 32px;
    background-color: transparent;
}

element {
    width: 220px;         
    padding: 45px 0px; 
    border-radius: 14px;
    border: 2px;
    border-color: #034a7f;
    background-color: #023861;
}

element-text {
    font: "Hack Nerd Font Bold 22";
    expand: true;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    text-color: #ffffff;
    background-color: transparent;
}

element selected.normal {
    background-color: #ffc600;
    border-color: #ffc600;
}

element selected.normal element-text {
    text-color: #012b4a; 
}

prompt,
entry,
inputbar,
textbox-prompt-colon,
message {
    enabled: false;
}
