Xcursor.theme: phinger-cursors-light
Xcursor.size: 24

! Enable 256-color support permanently
xterm*termName: xterm-256color

! Core Theme Colors
xterm*background: #1A1B26
xterm*foreground: #C0CAF5
xterm*cursorColor: #C0CAF5

! Regular ANSI Colors (0-7)
xterm*color0: #15161E
xterm*color1: #F7768E
xterm*color2: #9ECE6A
xterm*color3: #E0AF68
xterm*color4: #7AA2F7
xterm*color5: #BB9AF7
xterm*color6: #7DCFFF
xterm*color7: #A9B1D6

! Bright/Bold ANSI Colors (8-15)
xterm*color8: #414868
xterm*color9: #F7768E
xterm*color10: #9ECE6A
xterm*color11: #E0AF68
xterm*color12: #7AA2F7
xterm*color13: #BB9AF7
xterm*color14: #7DCFFF
xterm*color15: #C0CAF5

xterm*faceName: Monospace
xterm*faceSize: 11
xterm*renderFont: true



